<div class="modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span ng-click="$hide()" aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" translate>modal.confirma.operacao</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-lg-12">
						{{msgModal}}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default" ng-click="$hide()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Cancelar</button>
				<button type="button" class="btn btn-verde" ng-click="operationConfirmed(); $hide()"><span class="glyphicon glyphicon-ok"></span>&nbsp;Confirmar</button>
			</div>
		</div>
	</div>
</div>