<div class="modal" role="dialog" id="modal-finalizacao-os">
	<div class="modal-dialog modal-finalizacao-os">
		<form novalidate id="NotificacaoMensagemForm" name="NotificacaoMensagemForm" role="form">
			<div class="modal-content">
				<div class="modal-header">
					<button ng-click="$hide()" type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">{{tituloMensagem}}</h4>
				</div>
				<div id="alert-message" class="alert-message"></div>
				<div class="modal-body">					
					<div class="row">
						<div class="col-lg-12">
							<small>{{dataHoraMensagem | dataHora}}</small>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<p id="mensagem" class="form-control modal-mensagem-tiny" ui-tinymce="viewerOptions" ng-disabled="true"
										   ng-model="mensagem" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-verde" ng-click="$hide()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Fechar
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>